.footercontainer {
    width: 1200px;
    margin: 30px auto;
    padding-top: 20px;
    box-sizing: border-box;
}

.team {
    background-color: #fff;
    width: 1100px;
    height: 600px;
    margin: auto;
    position: relative;
    border-radius: 30px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, .50);
}

/* //Team */
/* Team Title */
.team-text {
    width: 200px;
    height: 70px;
    text-align: center;
    margin: auto;
    border-bottom: 3px solid #56947d;
    transition: all 1s ease;
}

.team-text a {
    font: bold 40px arial, sans-serif;
    color: black;
    text-decoration: none;
    transition: font 1s;
    transition-timing-function: ease;
}

.team-title {
    position: relative;
    top: 20px;
}

.team-text:hover {
    border-bottom: 5px solid #56947d;
    height: 50px;
    transition: all 1s ease;
}

/* Team Pic */
.team-pic {
    width: 99.5%;
    position: absolute;
    top: 160px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.team-pic img {
    width: 150px;
    height: 190px;
    border-radius: 10%;
}

.team-pic div.iman,div.adji,div.sahat {
    margin: 0 70px;
}

/* -Iman Pic-*/
.team-pic .iman {
    display: flex;
    position: relative;
    height: 190px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, .50);
    border-radius: 10%;
    overflow: hidden;
}

.team-pic .iman {
    transform: scale(1);
    transition: all 1.5s ease;
}

.iman .pic-title {
    position: absolute;
    top: 190px;
    height: 100%;
    width: 100%;
    background-color: rgba(5, 5, 5, .7);
    transition: all .5s ease;
    border-radius: 10%;
}

.iman .pic-title h3.font {
    font: bold 12px/8px arial, sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px rgba(5, 5, 5, .5);
}

.iman .pic-title p.font {
    font: 10px/8px arial, sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px rgba(5, 5, 5, .5);
}

.iman .pic-title .position {
    position: relative;
    top: 125px;
}

.iman:hover .pic-title {
    top: 0;
    z-index: 0;
}

.team-pic:hover .iman {
    transform: scale(1.1);
    transition: all 1.5s ease;
}

/* -Adji Pic- */
.team-pic .adji {
    display: flex;
    position: relative;
    height: 190px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, .50);
    border-radius: 10%;
    overflow: hidden;
}

.team-pic .adji {
    transform: scale(1);
    transition: all 1.5s ease;
}

.adji .pic-title {
    position: absolute;
    top: 190px;
    height: 100%;
    width: 100%;
    background-color: rgba(5, 5, 5, .7);
    transition: all .5s ease;
    border-radius: 10%;
}

.adji .pic-title h3.font {
    font: bold 12px/15px arial, sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px rgba(5, 5, 5, .5);
}

.adji .pic-title p.font {
    font: 10px/8px arial, sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px rgba(5, 5, 5, .5);
}

.adji .pic-title .position {
    position: relative;
    top: 105px;
}

.adji:hover .pic-title {
    top: 0;
    z-index: 0;
}

.team-pic:hover .adji {
    transform: scale(1.1);
    transition: all 1.5s ease;
}

/* -Sahat Pic- */
.team-pic .sahat {
    display: flex;
    position: relative;
    height: 190px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, .50);
    border-radius: 10%;
    overflow: hidden;
}

.team-pic .sahat {
    transform: scale(1);
    transition: all 1.5s ease;
}

.sahat .pic-title {
    position: absolute;
    top: 190px;
    height: 100%;
    width: 100%;
    background-color: rgba(5, 5, 5, .7);
    transition: all .5s ease;
    border-radius: 10%;
}

.sahat .pic-title h3.font {
    font: bold 12px/8px arial, sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px rgba(5, 5, 5, .5);
}

.sahat .pic-title p.font {
    font: 10px/8px arial, sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px rgba(5, 5, 5, .5);
}

.sahat .pic-title .position {
    position: relative;
    top: 125px;
}

.sahat:hover .pic-title {
    top: 0;
    z-index: 0;
} 

.team-pic:hover .sahat {
    transform: scale(1.1);
    transition: all 1.5s ease;
}

/* -Bio- */
.team-bio {
    font: bold 13px arial, sans-serif;
    text-align: center;
    position: absolute;
    top: 380px;
    width: 99.5%;
    display: flex;
    justify-content: center;
}

.team-bio img {
    width: 20px;    
}

.team-bio a {
    color: black;
    text-decoration: none;
    font-weight: normal;
}

.team-bio .bio {
    line-height: 25px;
}

.team-bio .iman {
    position: relative;
    right: 5px;
}

.team-bio .adji {
    position: relative;
    left: 80px;
}

.team-bio .sahat {
    position: relative;
    left: 84px;
}

.team-bio .instagram img {
    position: relative;
    top: 4px;
    text-shadow: 3px 3px 5px rgba(5, 5, 5, .50);
}

/* //Footer */
.footer {
    background-color: #effcec;
    width: 1100px;
    margin: auto;
    position: relative;
    top: -60px;
    border-radius: 30px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, .50);
}

/* Our Location */
.location {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.location .location-frame {
    margin: 20px 20px 60px;
}

.location .location-description {
    width: 300px;   
}

.location-frame h4 {
    font: 20px/30px arial, sans-serif;
    color: #56947d;
    letter-spacing: 5px;
}

.location-frame iframe {
    width: 350px;
    height: 350px;
    border-radius: 30px;
}

.location-description img {
    width: 20px;    
}

/* Contact Us */
.location-description .contact {
    font: 12px/20px arial, sans-serif;
    margin: 10px 20px 40px;
    text-align: justify;
}

.location-description .contact b {
    font: 20px/30px arial, sans-serif;
    color: #56947d;
    letter-spacing: 5px;
}

.contact .gmail {
    margin-top: -10px;
}

.contact .gmail img {
    width: 10px;
    margin-left: 1px;
}

.contact .gmail a {
    text-decoration: none;
    color: black;
    margin-left: 8px;
}

.contact .phone img {
    width: 10px;
    margin-left: 1px;
}

.contact .phone span {
    margin-left: 8px;
}

/* Our Social Media */
.location-description .social-media {
    font: 12px/20px arial, sans-serif;
    margin: 20px 20px 40px;
    text-align: justify;
}

.location-description .social-media b {
    font: 20px/30px arial, sans-serif;
    color: #56947d;
    letter-spacing: 5px;
}

.social-media .button {
    display: flex;
    margin-top: 10px;
    margin-left: -5px;
}

.social-media .button div {
    margin: 5px 5px;
}

.social-media div.instagram {
    width: 40px;
    height: 40px;   
    display: inline-block;
    background-color: #72c7a8;
    border-radius: 10px;
    text-align: center;
}

.social-media .instagram img {
    width: 30px;
    line-height: 40px;
    margin-top: 4px;
    margin-left: 1px;
}

.social-media div.twitter {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-bottom: 10px;
    background-color: #72c7a8;
    border-radius: 10px;
    text-align: center;
}

.social-media .twitter img {
    width: 35px;
    line-height: 40px;
    margin-top: 6px;
    margin-left: 2px;
}

.social-media div.facebook {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-bottom: 10px;
    background-color: #72c7a8;
    border-radius: 10px;
    text-align: center;
}

.social-media .facebook img {
    width: 30px;
    line-height: 40px;
    margin-top: 4px;
    margin-left: 1px;
}

/* //Copyright */
.copyright {
    background-color: #72c7a8;
    padding: 10px;
    border-end-start-radius: 30px;
    border-end-end-radius: 30px;
}

.copyright p {
    font: 15px/15px arial, sans-serif;
    color: #effcec;
    text-align: center;
}